.search-bar-container {
    position:relative;
    width: 100%;
    max-width: 900px ;
    margin: 30px;
    border: 1px solid rgb(249, 249, 249);
    isolation: isolate;
    margin-top: 70px;
    
}

.search-bar {


    width: 100%;
    min-height: 250px;
    padding: 15px;
    font-size: 16px;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    resize: none;
    overflow-y: auto;
    /* scrollbar-width: thin;       1st scrool bar inside of searchbar 
    scrollbar-color: rgba(0, 0, 0, 0.2) transparent;*/    
    transition: height 0.2s ease;
    line-height: 1.5;
    position: relative;
    z-index: 2;

     /* Webkit browsers (Chrome, Safari) */
     ::-webkit-scrollbar {
        display: none;
    }
    
    /* Firefox */
    scrollbar-width: none;
    
    /* Internet Explorer and Edge */
    -ms-overflow-style: none;
}

#search-bar2 {
    z-index: -1;
    color: gray;
    cursor: none; 
    
}
    

/* hovering of the border */
.search-bar:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0px 0px 0px 3px rgba(0, 123, 255, 0.25);
}


.ghost-text-overlay{
    position: absolute;
    max-width: calc(100% - 20px);
    text-align: left;
    color: #ccc;
    margin-top: 0px !important;
    margin-left:0px;
    pointer-events: none;
    transition: top 0.2s, font-size 0.2s;
    line-height: inherit;
    will-change: transform;
    pointer-events: none;

}
